
/* This is default helpful CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("https://sf.abarba.me/SFMono-Regular.otf");
}

@font-face {
  font-family: "SF Mono Light";
  font-weight: 200;
  src: url("https://sf.abarba.me/SFMono-Light.otf");
}

@font-face {
  font-family: "SF Mono Semibold";
  font-weight: 700;
  src: url("https://sf.abarba.me/SFMono-Semibold.otf");
}

/* These selectors like `body` or `.container` are too simple, so I am not counting them as the "5 techniques" individually. */
/* Type selector (A) is from level 1 and 2 in CSS Diner, and class selector (.className) is from level 6.
They select all HTML elements of type `A` or of class `className`, respectively. */

body {
  background-color: rgb(28, 28, 30);
  color: white;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow-wrap: break-word;
  font-family: "SF Mono Light", monospace;
}

.noTab {
    margin-left: 2.5em;
    text-indent: -2.5em;
}

.tab {
    margin-left: 5em;
    text-indent: -5em;
}

.twoTab {
    margin-left: 7.5em;
    text-indent: -7.5em;
}

.threeTab {
    margin-left: 10em;
    text-indent: -10em;
}

.container {
  text-align: center;
  line-height: 150%;
}

.code {
  margin: auto;
  width: 88%;
  text-align: left;
  display: block;
}

.keyword {
  color: MediumVioletRed;
}

.name {
  color: DeepSkyBlue;
}

.type {
  color: DarkViolet;
}

.method {
  color: PeachPuff;
}

.string {
  color: Crimson;
}

.number {
  color: LightSteelBlue;
}

/* Class selector (.className) is from level 6 in CSS Diner. It selects all HTML elements of class `className`. */
/* Comma combinor (A, B) is from level 9 in CSS Diner. It selects all HTML elements of type `A` or `B` together. */
/* Here, by using a combination of class selectors and comma combinor,
I can select all HTML elements of type `keyword`, `type`, or `string`. */
.keyword, .type, .string {
  font-family: "SF Mono Semibold", monospace;
}

/* Id selector (#id) is from level 3 in CSS Diner, and class selector (.className) is from level 6.
They select all HTML elements with id `id` or of class `className`, respectively. */
/* Comma combinor (A, B) is from level 9 in CSS Diner. It selects all HTML elements of type `A` or `B` together. */
/* Here, by using a combination of id selector, class selectors, and comma combinor,
I can select all HTML elements with id `self` or of type `name`, `method`, or `number`. */
#self, .name, .method, .number {
  font-family: "SF Mono", monospace;
}

/* Id selector (#id) is from level 3 in CSS Diner, and class selector (.className) is from level 6.
They select all HTML elements with id `id` or of class `className`, respectively. */
/* Adjacent sibling selector (A + B) is from level 12 in CSS Diner.
It selects all HTML elements of type `B` that directly follows an HTML elements of type `A`. */
/* Here, by using a combination of id selector, class selectors, and adjacent sibling selector,
I can select all HTML elements with class `name` that directly follows an HTML elements with id `self`. */
#self + .name {
  color: LimeGreen;
}

/* Type selector (A) is from level 1 and 2 in CSS Diner, and class selector (.className) is from level 6.
They select all HTML elements of type `A` or of class `className`, respectively. */
/* Descendant selector (A B) is from level 4 in CSS Diner.
It selects all HTML elements of type `B` inside an HTML element of type `A`.*/
/* First of type selector (A:first-of-type) is from level 20 in CSS Diner. It selects the first HTML elements of type `A`. */
/* Here, by using a combination of class selector, type selectors, descendant selector, and first of type selector,
I can select each HTML elements of type `span` that is the first inside an HTML element of class `keyword`. */
.keyword span:first-of-type {
  font-family: "SF Mono Light", monospace;
}

/* Type selector (A) is from level 1 and 2 in CSS Diner, and class selector (.className) is from level 6.
They select all HTML elements of type `A` or of class `className`, respectively. */
/* Descendant selector (A B) is from level 4 in CSS Diner.
It selects all HTML elements of type `B` inside an HTML element of type `A`.*/
/* Nth of type selector with formula (A:nth-of-type(Bn+C)) is from level 22 in CSS Diner.
It selects the every B HTML element of type `A` from (and including) the C one. */
/* Here, by using a combination of type selector, class selectors, descendant selector, and nth of type selector with formula,
I can select each HTML elements of class `type` that is after the first element inside an HTML element of type `span`. */
span .type:nth-of-type(n+2) {
  font-family: "SF Mono", monospace;
}
