
/* This is default helpful CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/

/* class Student: Person, Talkable, Walkable {
  var name: String
  var classTime: DateInterval
  var location: CLLocation
  var instructor: Person

  init(name: String, classTime: DateInteral, location: CLLocation, instructor: Person) {
    self.name = name
    self.classTime = time
    self.location = location
    self.instructor = instructor
  }

  func greetInstructor() {
    self.talk("Hi, \(self.instructor.name)")
  }

  func goToClass(currentTime: Date = Date()) {
    let interval = currentTime.timeIntervalSince(self.classTime.start)
    if interval > 0 {
      self.walk(Pace.fast, to: self.location)
      print("Run fast! You are late!")
    } else if interval < -1800 {
      print("Do you want to leave this early?")
    } else {
      self.walk(Pace.normal, to: self.Location)
    }
  }
} */

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("https://sf.abarba.me/SFMono-Regular.otf");
}

@font-face {
  font-family: "SF Mono Light";
  font-weight: 200;
  src: url("https://sf.abarba.me/SFMono-Light.otf");
}

@font-face {
  font-family: "SF Mono Semibold";
  font-weight: 700;
  src: url("https://sf.abarba.me/SFMono-Semibold.otf");
}

body {
  background-color: rgb(30, 30, 32);
  color: white;
  /* font-size: 1.5em; */
}

p {
  margin: 0;
  padding: 0;
  font-family: "SF Mono Light", serif;
}

.container {
  text-align: center;
  line-height: 150%;
}

.code {
  margin: auto;
  width: 85%;
  text-align: left;
  display: block;
}

.keyword {
  color: MediumVioletRed;
  font-family: "SF Mono Semibold", serif;
}

.name {
  color: DeepSkyBlue;
  font-family: "SF Mono", serif;
}

.type {
  color: SlateBlue;
  font-family: "SF Mono Semibold", serif;
}

.method {
  color: PeachPuff;
  font-family: "SF Mono", serif;
}

.string {
  color: Crimson;
  font-family: "SF Mono Semibold", serif;
}

.number {
  color: PowderBlue;
  font-family: "SF Mono", serif;
}

#self {
  font-family: "SF Mono", serif;
}

#self + .name {
  color: LimeGreen;
}

.keyword span:first-of-type {
  font-family: "SF Mono Light", serif;
}

span .type:nth-of-type(n+2) {
  font-family: "SF Mono", serif;
}
