html {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@keyframes scaling {
  from {transform: scale(1);}
  to {transform: scale(1.05);}
}

body, body.forcedDarkMode {
  --ac-color: rgb(50,140,230);
  --df-color: rgb(240,150,40);
  --g-color: rgb(90,180,140);
  --r-color: rgb(240,200,80);
  --two-color: rgb(220,70,70);
  --seven-color: rgb(190,80,190);
  --air-train-color: rgb(10,130,170);
  --path-color: rgb(30,100,230);
  --nj-transit-color: rgb(30,70,120);
  --amtrak-color: rgb(10,60,100);
  --firstBgColor: #012;
  --secondBgColor: #124;
  --firstTxtColor: #dde;
  --secondTxtColor: #cce;
  --thirdTxtColor: #aad;
  overflow-wrap: break-word;
  background-color: var(--firstBgColor);
  color: red;
  text-align: center;
  font-family: helvetica, sans-serif;
  transition-duration: 0.3s;
}

body.forcedLightMode {
  --ac-color: rgb(40,150,250);
  --df-color: rgb(250,150,40);
  --g-color: rgb(90,200,150);
  --r-color: rgb(255,220,80);
  --two-color: rgb(255,60,60);
  --seven-color: rgb(200,100,200);
  --air-train-color: rgb(0,150,200);
  --path-color: rgb(20,100,250);
  --nj-transit-color: rgb(50,100,150);
  --amtrak-color: rgb(0,80,120);
  --firstBgColor: #ffd;
  --secondBgColor: #eeb;
  --firstTxtColor: #332;
  --secondTxtColor: #553;
  --thirdTxtColor: #774;
}

audio {
  display: none;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

#title:not(.hide), #center-container:not(.hide), #memories > div:not(.hide), #note-container:not(.hide), #color-mode:not(.hide) {
  transition-delay: 0.12s;
}

/* .three-rows {
  display: grid;
  grid-template-rows: 35% 30% 35%;
  grid-template-columns: 100%;
  height: 100%;
}

.whole {
  grid-column: 1/span 1;
  grid-row: 1/span 3;
}

.top-div {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}

.bottom-div {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
} */

#mask {
  transition-duration: 0.3s;
  position: absolute;
  left: 0%;
  width: 100%;
  top: 0%;
  height: 100%;
  background-color: #0009;
  z-index: 10;
}

#cancel, body.forcedDarkMode #cancel {
  position: absolute;
  right: 15%;
  top: 5%;
  margin-top: 5.25em;
  margin-right: 1em;
  z-index: 21;
  color: #fff;
  font-weight: bolder;
  background-color: #333c;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

body.forcedLightMode #cancel {
  color: #444;
  background-color: #eeec;
}

#color-mode {
  position: absolute;
  height: 55px;
  width: 55px;
  right: 30px;
  top: 30px;
  transition-duration: 0.3s;
}

#color-mode img {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  object-fit: contain;
  cursor: pointer;
}

#memories .big-logo {
  position: absolute;
  margin-top: 110px;
  margin-right: 50px;
  right: 65%;
  top: 5%;
  color: white;
  width: 85px;
  line-height: 85px;
  height: 85px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 2.8em;
  object-fit: cover;
  z-index: 9;
  transition-duration: 0.3s;
}

#memories .big-logo img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 50%;
}

#memories div {
  transition-duration: 0.3s;
}

#memories .name {
  position: absolute;
  margin-top: 210px;
  margin-right: 30px;
  text-align: center;
  width: 125px;
  right: 65%;
  top: 5%;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  z-index: 9;
}

#memories .words {
  position: absolute;
  margin-top: 4em;
  top: 5%;
  left: 35%;
  right: 20%;
  bottom: 4.5em;
  overflow: scroll;
  text-align: left;
  /* color: var(--firstTxtColor); */
  font-size: 1.2em;
  z-index: 8;
  line-height: 1.55em;
}

#memories .words .station, body.forcedDarkMode #memories .words .station {
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.3s;
  filter: brightness(1.25);
  text-decoration: none;
  display: inline-block;
}

body.forcedLightMode #memories .words .station {
  filter: brightness(0.925);
}

#memories .map {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 5%;
  margin-top: 4.25em;
  bottom: 4.5em;
  z-index: 20;
}

#memories .map iframe {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

#icon-grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 450px;
  margin: auto;
  transition-duration: 0.3s;
}

#metro-card-container {
  position: absolute;
  width: 100%;
  transform: scale(0.8);
  height: 100%;
  transition-duration: 0.3s;
  z-index: 3;
}

#metro-card {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition-duration: 0.3s;
  animation-name: scaling;
  animation-duration: 1.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#center-container {
  position: absolute;
  margin-bottom: 4.5em;
  width: 60%;
  left: 20%;
  /* border: 2px dashed #444; */
  /* border-radius: 15px; */
  top: 15%;
  bottom: 12%;
  transition-duration: 0.3s;
}

#note-container {
  transition-duration:  0.3s;
  margin-bottom: 5em;
  position: absolute;
  left: 7%;
  right: 7%;
  top: 2em;
  text-align: left;
  bottom: 10%;
  background-color: var(--secondBgColor);
  overflow: scroll;
  border-radius: 10px;
  z-index: 5;
}

#notes {
  color: var(--firstTxtColor);
  transition-duration: 0.3s;
  margin: 1.8em 2em;
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
}

#notes * {
  margin: 0 0;
}

#title {
  position: absolute;
  transition-duration: 0.3s;
  width: 100%;
  left: 0%;
  bottom: 6%;
  margin-bottom: 1.6em;
}

#title h1 {
  margin: 0;
  font-size: 3em;
  color: var(--firstTxtColor);
}

/* #alt_text {
  margin: auto;
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  transition-duration: 0.3s;
  font-size: 1.2em;
  line-height: 1.5;
}

#alt_text b {
  font-family: serif;
}

#alt_text.default-alt_text {
  color: var(--secondTxtColor);
} */

#title:not(.hide) ~ #footer {
  animation-play-state: paused;
}

#footer {
  position: absolute;
  transition-duration: 0.3s;
  width: 90%;
  left: 5%;
  bottom: 3%;
  margin-bottom: 1em;
  color: var(--thirdTxtColor);
  animation-name: scaling;
  animation-duration: 1.2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#footer p {
  font-family: Georgia, serif;
  display: inline;
  font-size: 1.45em;
  cursor: pointer;
}

#a, #c, #memories .a .big-logo, #memories .c .big-logo {
  background-color: var(--ac-color);
}

p.a, p.c, #memories .a :not(.big-logo), #memories .c :not(.big-logo) {
  color: var(--ac-color);
}

#d, #f, #memories .d .big-logo, #memories .f .big-logo {
  background-color: var(--df-color);
}

p.d, p.f, #memories .d :not(.big-logo), #memories .f :not(.big-logo) {
  color: var(--df-color);
}

#g, #memories .g .big-logo {
  background-color: var(--g-color);
}

p.g, #memories .g :not(.big-logo) {
  color: var(--g-color);
}

#r, #memories .r .big-logo {
  background-color: var(--r-color);
  color: black;
}

p.r, #memories .r :not(.big-logo) {
  color: var(--r-color);
}

#two, #memories .two .big-logo {
  background-color: var(--two-color);
}

p.two, #memories .two :not(.big-logo) {
  color: var(--two-color);
}

#seven, #memories .seven .big-logo {
  background-color: var(--seven-color);
}

p.seven, #memories .seven :not(.big-logo) {
  color: var(--seven-color);
}

p.air-train, #memories .air-train :not(.big-logo) {
  color: var(--air-train-color);
}

p.path, #memories .path :not(.big-logo) {
  color: var(--path-color);
}

p.nj-transit, #memories .nj-transit :not(.big-logo) {
  color: var(--nj-transit-color);
}

p.amtrak, #memories .amtrak :not(.big-logo) {
  color: var(--amtrak-color);
}

body.grabbing .icon, body.grabbing #center-container {
  cursor: grabbing;
}

body.grabbing #color-mode *, body.grabbing #footer p {
  cursor: not-allowed;
}

.unselectable, img, .icon, .big-logo {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.icon {
  color: white;
  width: 48px;
  line-height: 48px;
  height: 48px;
  border-radius: 50%;
  font-weight: bold;
  transition-duration: 0.3s;
  cursor: pointer;
  font-size: 1.4em;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 4;
}

div.icon {
  margin: 25px 12px;
}

div.icon, body.forcedDarkMode div.icon, #memories .big-logo, body.forcedDarkMode #memories .big-logo {
  filter: brightness(0.9);
}

body.forcedLightMode div.icon, body.forcedLightMode #memories .big-logo {
  filter: brightness(1);
}

@media (hover: none) {
  #cancel.tapped, body.forcedDarkMode #cancel.tapped {
    background-color: #333e;
  }

  body.forcedLightMode #cancel.tapped {
    background-color: #fffd;
  }

  #center-container:not(.tapped) div.icon {
    pointer-events: none;
    opacity: 0;
    margin: -25px 10px;
    transform: scale(0);
  }

  #center-container.tapped #metro-card-container {
   transform: scale(0.915);
  }

  #center-container.tapped #metro-card {
   filter: blur(2.5px);
  }

  #center-container.tapped #metro-card {
    animation-play-state: paused;
  }

  #footer p.tapped {
    color: var(--secondTxtColor);
  }

  #memories .words .station.tapped, body.forcedDarkMode #memories .words .station.tapped{
    filter: brightness(1.5);
  }

  body.forcedLightMode #memories .words .station.tapped {
    filter: brightness(0.7);
  }

  div.icon.tapped {
    transform: scale(1.1);
  }

  div.icon.tapped, body.forcedDarkMode div.icon.tapped, #memories .big-logo.tapped, body.forcedDarkMode #memories .big-logo.tapped {
    filter: brightness(1);
  }

  body.forcedLightMode div.icon.tapped, body.forcedLightMode #memories .big-logo.tapped {
    filter: brightness(0.925);
  }
}

@media (hover: hover) {
  #cancel:hover, body.forcedDarkMode #cancel:hover {
    background-color: #333e;
  }

  body.forcedLightMode #cancel:hover {
    background-color: #fffd;
  }

  #center-container:not(:hover) div.icon {
    pointer-events: none;
    opacity: 0;
    margin: -25px 10px;
    transform: scale(0);
  }

  #center-container:hover #metro-card-container {
   transform: scale(0.915);
  }

  #center-container:hover #metro-card {
   filter: blur(2.5px);
  }

  #center-container:hover #metro-card {
    animation-play-state: paused;
  }

  #memories .words .station:hover, body.forcedDarkMode #memories .words .station:hover {
    filter: brightness(1.5);
  }

  body.forcedLightMode #memories .words .station:hover {
    filter: brightness(0.7);
  }

  body:not(.grabbing) #footer p:hover {
    color: var(--secondTxtColor);
  }

  body:not(.grabbing) div.icon:hover {
    transform: scale(1.1);
  }

  body:not(.grabbing) div.icon:hover, body.forcedDarkMode:not(.grabbing) div.icon:hover, #memories .big-logo:hover, body.forcedDarkMode #memories .big-logo:hover {
    filter: brightness(1);
  }

  body.forcedLightMode:not(.grabbing) div.icon:hover, body.forcedLightMode #memories .big-logo:hover {
    filter: brightness(0.925);
  }
}

@media only screen and (max-width: 850px) {
  #center-container {
    width: 80%;
    left: 10%;
  }

  #memories .big-logo {
    margin-right: 40px;
    right: 70%;
  }

  #memories .name {
    margin-right: 20px;
    right: 70%;
  }

  #memories .words {
    left: 30%;
    right: 15%;
    line-height: 1.45em;
  }

  #memories .map {
    left: 8%;
    right: 8%;
  }

  #cancel {
    right: 8%;
  }

  #note-container {
    margin-bottom: 4.5em;
    left: 5%;
    right: 5%;
  }

  #notes {
    margin: 1.1em 1.25em;
  }
}

@media only screen and (max-width: 600px) {
  #title h1 {
    font-size: 2.5em;
  }

  #footer p {
    font-size: 1.35em;
  }

  #memories .big-logo {
    margin-top: 80px;
    margin-right: 25px;
  }

  #memories .name {
    margin-top: 180px;
    margin-right: 15px;
    width: 110px;
  }

  #memories .words {
    margin-top: 2.5em;
    right: 10%;
    line-height: 1.35em;
  }

  #memories .map {
    margin-top: 2em;
    left: 5%;
    right: 5%;
  }

  #cancel {
    right: 5%;
    margin-top: 3em;
  }

  #note-container {
    margin-bottom: 4em;
  }

  #notes {
    margin: 3% 4%;
    font-size: 0.95em;
  }

  #color-mode {
    top: 24px;
    right: 24px;
  }

  #color-mode, #color-mode img {
    height: 40px;
    width: 40px;
  }

  @media (hover: none) {
    #center-container:not(.tapped) div.icon {
      margin: -25px 8px;
    }
  }

  @media (hover: hover) {
    #center-container:not(:hover) div.icon {
      margin: -25px 8px;
    }
  }

  #icon-grid {
    width: 300px;
  }

  div.icon, div.icon.big-margin {
    margin: 12px 10px;
  }
}

@media only screen and (max-width: 450px) {
  #title h1 {
    font-size: 2em;
  }

  #footer p {
    font-size: 1.2em;
  }

  #memories .big-logo {
    margin-top: 25px;
    margin-right: 0px;
    left: 10%;
  }

  #memories .name {
    margin-top: 125px;
    margin-right: 0px;
    left: 10%;
    text-align: left;
  }

  #memories .words {
    margin-top: 155px;
    left: 10%;
    right: 10%;
    font-size: 1.1em;
    line-height: 1.3em;
  }

  #memories .map {
    margin-top: 150px;
  }

  #cancel {
    margin-top: 166px;
  }

  #note-container {
    margin-bottom: 3.5em;
  }

  #notes {
    font-size: 0.9em;
  }

  #color-mode {
    top: 20px;
    right: 20px;
  }

  #color-mode, #color-mode img {
    height: 35px;
    width: 35px;
  }

  #center-container {
    width: 90%;
    left: 5%;
  }

  div.icon, div.icon.big-margin {
    margin: 8px 8px;
  }
}

@media only screen and (max-width: 350px) {
  #title h1 {
    font-size: 1.6em;
  }

  #footer p {
    font-size: 1.1em;
  }

  #note-container {
    margin-bottom: 3.5em;
  }

  #memories .big-logo {
    margin-top: 10px;
    left: 25px;
  }

  #memories .name {
    margin-top: 110px;
    left: 25px;
  }

  #memories .words {
    margin-top: 140px;
    font-size: 1.05em;
    left: 25px;
    right: 25px;
  }

  #memories .map {
    margin-top: 135px;
  }

  #cancel {
    margin-top: 151px;
  }

  #note-container {
    margin-bottom: 3em;
  }

  #notes {
    font-size: 0.85em;
  }

  #color-mode, #color-mode img {
    height: 30px;
    width: 30px;
  }

  #icon-grid {
    width: 90%;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --ac-color: rgb(40,150,250);
    --df-color: rgb(250,150,40);
    --g-color: rgb(90,200,150);
    --r-color: rgb(255,220,80);
    --two-color: rgb(255,60,60);
    --seven-color: rgb(200,100,200);
    --air-train-color: rgb(0,150,200);
    --path-color: rgb(20,100,250);
    --nj-transit-color: rgb(50,100,150);
    --amtrak-color: rgb(0,80,120);
    --firstBgColor: #ffd;
    --secondBgColor: #eeb;
    --firstTxtColor: #332;
    --secondTxtColor: #553;
    --thirdTxtColor: #774;
  }

  #cancel {
    color: #444;
    background-color: #eeec;
  }

  div.icon, #memories .big-logo {
    filter: brightness(1);
  }

  #memories .words .station {
    filter: brightness(0.9);
  }

  @media (hover: none) {
    #cancel.tapped {
      background-color: #fffd;
    }

    div.icon.tapped, #memories .big-logo.tapped {
      filter: brightness(0.925);
    }

    #memories .words .station.tapped {
      filter: brightness(0.7);
    }
  }

  @media (hover: hover) {
    #cancel:hover {
      background-color: #fffd;
    }

    body:not(.grabbing) div.icon:hover, #memories .big-logo:hover {
      filter: brightness(0.925);
    }

    #memories .words .station:hover {
      filter: brightness(0.7);
    }
  }
}
