html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* @font-face {
  font-family: "violet";
  src: url("./fonts/VioletSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

body {
  background-color: #111;
  color: white;
  text-align: center;
  font-family: helvetica, sans-serif;
  transition: 0.3s;
}

.three-rows {
  display: grid;
  grid-template-rows: 38% 30% 32%;
  grid-template-columns: 100%;
  height: 100%;
}

.whole {
  grid-column: 1/span 1;
  grid-row: 1/span 3;
  /* border: 5px dashed #444; */
  z-index: 1;
}

.top-div {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  /* border: 2px dashed #444; */
}

.bottom-div {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
  /* border: 2px dashed #444; */
}

#center-container {
  position: absolute;
  width: 50%;
  border: 2px dashed #444;
  border-radius: 15px;
  height: 50%;
  left: 25%;
  top: 28%;
  transition: 0.3s
}

#center-container:hover {
  background-color: #222;
}

#center-container:not(:hover) .icon {
  opacity: 0;
  bottom: 20%;
}

#center-container:not(:hover) #a {
  left: 45%;
  bottom: 20%;
}

#center-container:not(:hover) #c {
  left: 45%;
  /* bottom: 20%; */
}

#center-container:not(:hover) #f {
  right: 45%;
  /* bottom: 20%; */
}

#center-container:not(:hover) #r {
  right: 45%;
  /* bottom: 20%; */
}

#title {
  position: absolute;
  width: 90%;
  /* border: 1px dashed white; */
  display: block;
  left: 5%;
  top: 11%;
}

#alt_text {
  margin: auto;
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  transition: 0.3s;
  font-size: 1.2em;
}

#alt_text.default-alt_text {
  color: #ccc;
}

#footer {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 6%;
  color: #aaa
}

#two {
  background-color: red;
  right: -5%;
}

.two {
  color: red;
}

#seven {
  background-color: mediumOrchid;
  right: -10%;
}

.seven {
  color: mediumOrchid;
}

#a {
  background-color: dodgerBlue;
  bottom: 10%;
  left: 10%;
}

.ac {
  color: dodgerBlue;
}

#c {
  background-color: dodgerBlue;
  left: 33%;
}

#d {
  background-color: orange;
  right: 40%;
}

.df {
  color: orange;
}

#f {
  background-color: orange;
  right: 33%;
}

#g {
  background-color: mediumAquaMarine;
  right: 0%;
}

.g {
  color: mediumAquaMarine;
}

#r {
  background-color: yellow;
  color: black;
  right: 10%;
}

.r {
  color: yellow;
}

.amtrak {
  color: rgb(0,80,120);
}

.nj-transit {
  color: rgb(50,100,150);
}

.path {
  color: rgb(20,100,250);
}

.air-train {
  color: white;
}

#center-container:hover #alt_text {
  font-size: 1.8em;
}

.icon {
  position: absolute;
  color: white;
  width: 50px;
  line-height: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: bold;
  transition: 0.5s;
  bottom: 10%;
  cursor: pointer;
  font-size: 1.3em;
  object-fit: cover;
  z-index: 2;
}

@media only screen and (max-width: 1100px) {
  #center-container {
    width: 60%;
    left: 20%;
  }

  #center-container:hover #alt_text {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 750px) {
  #center-container {
    width: 80%;
    left: 10%;
  }
}

@media only screen and (max-width: 500px) {
  #center-container:hover #alt_text {
    font-size: 1.4em;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ddd;
    color: black;
  }

  #center-container {
    border: 2px dashed #999;
  }

  #center-container:hover {
    background-color: #ccc;
  }

  #alt_text.default-alt_text {
    color: #333;
  }

  #footer {
    color: #777
  }
}
