html {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* @font-face {
  font-family: "violet";
  src: url("./fonts/VioletSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

body {
  --ac-color: rgb(50,140,230);
  --df-color: rgb(240,150,40);
  --g-color: rgb(90,180,140);
  --r-color: rgb(240,200,80);
  --two-color: rgb(220,70,70);
  --seven-color: rgb(190,80,190);
  --air-train-color: rgb(230,230,230);
  --path-color: rgb(30,100,230);
  --nj-transit-color: rgb(30,70,120);
  --amtrak-color: rgb(0,50,90);
  background-color: #111;
  color: white;
  text-align: center;
  font-family: helvetica, sans-serif;
  transition: ease-in-out 0.3s;
}

.three-rows {
  display: grid;
  grid-template-rows: 35% 30% 35%;
  grid-template-columns: 100%;
  height: 100%;
}

.whole {
  grid-column: 1/span 1;
  grid-row: 1/span 3;
  /* border: 5px dashed #444; */
}

.top-div {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  /* border: 2px dashed #444; */
}

.bottom-div {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
  /* border: 2px dashed #444; */
}

.icon-grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 450px;
  margin: auto;
  /* border: 2px dashed #444; */
}

#center-container {
  position: absolute;
  width: 50%;
  border: 2px dashed #444;
  border-radius: 15px;
  height: 50%;
  left: 25%;
  top: 28%;
  transition: ease-in-out 0.3s
}

#center-container:hover {
  background-color: #222;
}

#center-container:hover #alt_text {
  font-size: 1.8em;
}

#center-container:not(:hover) div.icon {
  opacity: 0;
  margin: -8px 8px;
}

#title {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 12%;
}

#title h1 {
  margin: auto;
  font-size: 2.8em;
}

#alt_text {
  margin: auto;
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  transition: ease-in-out 0.3s;
  font-size: 1.2em;
  line-height: 1.5;
}

#alt_text b {
  font-family: serif;
}

#alt_text.default-alt_text {
  color: #ccc;
}

#footer {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 11%;
  color: #aaa
}

#footer p {
  margin: auto;
}

#a, #c {
  background-color: var(--ac-color);
}

.ac {
  color: var(--ac-color);
}

#d, #f {
  background-color: var(--df-color);
}

.df {
  color: var(--df-color);
}

#g {
  background-color: var(--g-color);
}

.g {
  color: var(--g-color);
}

#r {
  background-color: var(--r-color);
  color: black;
}

.r {
  color: var(--r-color);
}

#two {
  background-color: var(--two-color);
}

.two {
  color: var(--two-color);
}

#seven {
  background-color: var(--seven-color);
}

.seven {
  color: var(--seven-color);
}

.air-train {
  color: var(--air-train-color);
}

.path {
  color: var(--path-color);
}

.nj-transit {
  color: var(--nj-transit-color);
}

.amtrak {
  color: var(--amtrak-color);
}

.icon {
  color: white;
  width: 50px;
  line-height: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: bold;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  font-size: 1.4em;
  object-fit: cover;
  z-index: 2;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

div.icon {
  margin: 25px 12px;
}

div.icon.big-margin {
  margin: 45px 12px;
}

@media only screen and (max-width: 1100px) {
  #center-container {
    width: 60%;
    left: 20%;
  }

  #center-container:hover #alt_text {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 850px) {
  #center-container {
    width: 80%;
    left: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #center-container:hover #alt_text {
    font-size: 1.4em;
    filter: blur(2.5px);
  }

  .icon-grid {
    width: 300px;
  }

  div.icon {
    margin: 15px 12px;
  }

  div.icon.big-margin {
    margin: 15px 12px;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --ac-color: rgb(40,150,250);
    --df-color: rgb(250,150,40);
    --g-color: rgb(90,200,150);
    --r-color: rgb(255,220,80);
    --two-color: rgb(255,60,60);
    --seven-color: rgb(200,100,200);
    --air-train-color: rgb(255,255,255);
    --path-color: rgb(20,100,250);
    --nj-transit-color: rgb(50,100,150);
    --amtrak-color: rgb(0,80,120);
    background-color: #ddd;
    color: black;
  }

  #center-container {
    border: 2px dashed #999;
  }

  #center-container:hover {
    background-color: #ccc;
  }

  #alt_text.default-alt_text {
    color: #555;
  }

  #footer {
    color: #777
  }
}
